@model IEnumerable<shopping.Models.Carts>
@{
  ViewData["Title"] = "PaymentConfirm";

  Layout = "_Layout";
}

<!-- 內容 -->
<main id="container">
  <div class="row wrapper">
    <div class="col-lg-12 d-flex justify-content-center">
      <!-- 確認結帳資訊 -->
      <div id="complete-order">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-12">
            <div class="checkout-total">
              <h3>訂單資訊</h3>
              <form action="#" method="post">
                <div class="table-responsive">
                  <table class="checkout-area">
                    <thead>
                      <tr class="cart_item check-heading">
                        <td class="ctg-type">商品</td>
                        <td class="cgt-des">金額</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item check-item prd-name">
                        <td class="ctg-type">
                          針織捲領長袖_女 ×
                          <span>1</span>
                        </td>
                        <td class="cgt-des">$490</td>
                      </tr>
                      <tr class="cart_item check-item prd-name">
                        <td class="ctg-type">
                          簡約圓領T恤_男 ×
                          <span>1</span>
                        </td>
                        <td class="cgt-des">$300</td>
                      </tr>
                      <tr class="cart_item">
                        <td class="ctg-type">小計</td>
                        <td class="cgt-des">$790</td>
                      </tr>
                      <tr class="cart_item">
                        <td class="ctg-type">運費</td>
                        <td class="cgt-des">$60</td>
                      </tr>
                      <tr class="cart_item">
                        <td class="ctg-type crt-total">總計</td>
                        <td class="cgt-des prc-total">$850</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
            <div class="payment-section mt-20 clearfix">
              <div class="pay-toggle">
                <form action="#">
                  <div class="pay-type-total">
                    <div class="pay-type-title">付款方式:</div>
                    <div class="pay-type">
                      <input type="radio" id="pay-toggle01" name="pay" />
                      <label for="pay-toggle01">信用卡/VISA金融卡</label>
                    </div>
                    <div class="pay-type">
                      <input type="radio" id="pay-toggle02" name="pay" />
                      <label for="pay-toggle02">貨到付款</label>
                    </div>
                    <div class="pay-type">
                      <input type="radio" id="pay-toggle03" name="pay" />
                      <label for="pay-toggle03">轉帳匯款</label>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-5 col-sm-3 my-3">
                      <a class="btn-def btn2" href="./pay_info.html" style="display: block">返回付款資訊</a>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-3 my-3">
                      <a class="btn-def btn2 btnmy" href="#" style="display: block">確認結帳</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
